<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Document</title>
</head>

<body>
    <div class="container">


        <div class="form-container">

            <h1>SIGN IN</h1>

            <form method="POST">

                <label for="user-name">User name</label>
                <input class="user-input" name="user-name" id="name"></input>

                <label for="password">Password</label>
                <input class="user-input" id="password" name="password" type="password">

                <div id="button">
                    <button type="submit">LOG IN</button>

                </div>

            </form>

        </div>
    </div>

</body>

</html>